@import './base/variables';

.navbar-container {
	// flex-direction: row-reverse;
	border-bottom: 1px solid $border-color;
	padding-left: 3rem;
	direction: rtl;
	background-color: #fff;
}

@media (max-width: 900px) {
	.logo {
		padding-right: 0 !important;
		margin-right: 0 !important;
	}

	Nav:nth-child() {
		border-bottom: 1px solid red !important;
	}
}

.navbar-toggler {
	border: none;
}

.nav-link {
	color: #000 !important;
	font-weight: 700 !important;
	padding-right: 2rem !important;
}

.translate {
	color: $red-color !important;
}

.dropdown-toggle::after {
	margin-right: 0.5em;
	border-top: 0.4em solid;
	border-right: 0.4em solid transparent;
	border-left: 0.4em solid transparent;
	color: $red-color;
}

.dropdown-menu {
	background-color: $search-bc;
	padding: 0px !important;
	width: max-content !important;
	margin: 1rem auto !important;
}

.navbar-collapse {
	text-align: center;
}
