.receipt-container {
	border: 1px solid rgba(0, 0, 0, 0.062);
	width: 85%;
	margin-top: 2.5rem;
	border-radius: 10px;
}

.col {
	text-align: right !important;
	padding-right: 2rem !important;
	color: gray !important;
}

.label {
	color: #000;
	font-weight: 700;
}

.upper-section {
	border-bottom: 1px solid rgba(0, 0, 0, 0.062);
}
