.table-responsive {
	border: 1px solid rgba(0, 0, 0, 0.062) !important;
	border-radius: 10px !important;
	margin-bottom: 2rem;
}

thead {
	background-color: rgba(184, 179, 179, 0.08);
}

tr th {
	color: gray;
	font-weight: 700;
}

tr td {
	color: #53616f;
}

.table th {
	border-top: none;
}

.headerLabel {
	font-weight: 500;
	color: #53616f;
	font-size: 1.25rem;
}
.address-container {
	background-color: rgba(184, 179, 179, 0.08);
	border: 1px solid rgba(0, 0, 0, 0.062) !important;
	padding: 1.5rem;
	border-radius: 10px;
}

.col-md-8,
.col-md-4 {
	text-align: right;
}

.supportButton {
	color: #FFF;
	background-color: $red-color;
	border: none;
	border-radius: 10px;
	width: 100%;
	padding: 0.3rem;
	margin-top: 0.5rem;
}
.supportContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-left: 1rem;
}

.support-container {
	border: 1px solid rgba(0, 0, 0, 0.062) !important;
	border-radius: 10px;
	width: 100%;
	justify-content: space-between;
	padding: 0.5rem;
}

.address-details {
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
