.lower-section {
	display        : flex;
	justify-content: center;
	align-items    : center;
	margin-top     : 2rem;
	margin-bottom  : 1rem;
	flex-direction : column;
}

.fa.fa-floppy-o,
.fa.fa-truck,
.fa.fa-check,
.fa-inbox {
	font-size       : larger;
	padding         : 16px;
	transform       : rotate(180deg);
	background-color: lightgrey;
	color           : white;
}


.fa.fa-check {
	padding: 3px;
}

.step.column {
	transform: rotate(180deg);
}

.progressBar {
	transform: rotate(180deg);
}