.lower-section {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fa.fa-floppy-o,
.fa.fa-truck,
.fa.fa-check {
	font-size: larger;
	padding: 16px;
	transform: rotate(180deg);
	background-color: lightgrey;
	color: white;
}
hr.solid {
	border-top: 2px solid rgb(235, 232, 232);
	width: 100%;
}
.fa.fa-check {
	padding: 3px;
}

.step.column {
	transform: rotate(180deg);
}
.progressBar {
	transform: rotate(180deg);
}
