.text-danger {
	color : #ff0000 !important;
	margin: 0.5rem !important;
}

.loading-container {
	display        : flex;
	justify-content: center;
	align-items    : center;
	height         : 100%;
	margin-top     : 20%;
}

.track-container {
	display        : flex;
	justify-content: center;
	align-items    : center;
	flex-direction : column;
}

.error-container {
	background-color: rgba(184, 179, 179, 0.08);
	border          : 1px solid rgba(0, 0, 0, 0.062) !important;
	display         : flex;
	flex-direction  : row;
	justify-content : center;
	align-items     : center;
	padding         : 2rem;
	margin-top      : 2rem;
	width           : 453px;
	border-radius   : 10px;

	h5 {
		font-weight: 700;
	}
}

.error-parent {
	display        : flex;
	justify-content: center;
	align-items    : center;
}

.fa.fa-exclamation-circle {
	font-size   : 4rem;
	color       : #ff0000;
	padding-left: 1re;
	margin-right: 1rem;
}

